@import '../../scss/variables';

.modal-card {
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);

  &-wrapp {
    height: 100%;
    position: fixed;
    background: $modal-bg;
    z-index: 1000;
  }

  &-error {
    @extend .alert-danger;
    // background-color: $bg-card-danger;

    .bttn.btn-close {
      @extend .btn-outline-danger;
    }
  }
}