@import './variables';

body {
  background-color: $bg-color!important;
}

.full-height {
  height: 100vh;
}

.price {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 600;
  color: $success;

  &::after {
    content: '$';
  }
}

.tags {
  padding-top: 1em;
  padding-left: 2.2em;
  position: relative;

  .badge {
    margin-right: 0.3em;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    margin-left: -2.2em;
    padding-bottom: 1.6em;
    background: $tag-image no-repeat center / contain;
    opacity: 0.4;
  }
}

.bttn {
  @extend .btn, .btn-block;

  &-img {
    width: 18px;
    margin: -4px 7px 0 0!important;
  }
  &-close {
    padding: 0;

    .bttn-img {
      margin-right: 0;
    }
  }
  &-spin {
    margin: 0 7px 2px 0;
  }
  &.primary {
    @extend .btn-outline-primary;
    
    &.solid {
      @extend .btn-primary;
    }
  }
  &.secondary {
    @extend .btn-outline-secondary;
    
    &.solid {
      @extend .btn-secondary;
    }
  }
  &.light {
    @extend .btn-light;
  }
}
